@use "./variables" as *;

//////////////////// MEDIA QUERIES //////////////////
@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media only screen and (max-width: $bp-tablet) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: $bp-mobile) {
      @content;
    }
  }

  @if $breakpoint == mobile-small {
    @media only screen and (max-width: $bp-mobile-small) {
      @content;
    }
  }
}

//////////////////// TYPOGRAPHY ////////////////////
@mixin heading($size) {
  @if $size == "small" {
    font-size: $font-size-heading-s;
    font-weight: 600;
  } @else if $size == "medium" {
    color: $color-grey-dark;
    font-weight: 700;
    font-size: $font-size-heading-m;
    @include respond(mobile) {
      font-size: $font-size-heading-m-mobile;
    }
  }
}

//////////////////// ROUNDED ////////////////////
@mixin rounded($radius) {
  @if $radius == "small" {
    border-radius: 8px;
  }
  @if $radius == "large" {
    border-radius: 12px;
  }
}
