@use "../assets/styles/abstracts/variables" as *;

.control {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  &__input {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 1.2rem 1.6rem 1.2rem 4.4rem;
    border-radius: 8px;
    border: 1px solid $color-borders;
    background-color: $color-white;
    &-error {
      border-color: $color-red;
    }
    &:focus {
      border-color: $color-purple;
      box-shadow: 0 0 3.2rem 0 rgba($color-purple, 0.25);
    }
  }
  &__error {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: end;
    margin-right: 1.6rem;
    font-size: $font-size-body-s;
    color: $color-red;
  }
  &__label {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: $font-size-body-s;
    margin-bottom: 0.4rem;
    &-error {
      color: $color-red;
    }
  }
  &__icon {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: start;
    align-self: center;
    z-index: 100;
    margin-left: 1.6rem;
    svg {
      width: 1.5rem;
      height: auto;
      path {
        fill: currentColor;
      }
    }
  }
}
