@use "../assets/styles/abstracts/variables" as *;

.sharing-link {
  color: $color-grey;
  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    font-size: $font-size-body-m;
    color: currentColor;
    &-icon {
      width: 1.2rem;
      height: 0.6rem;
      svg path {
        fill: currentColor;
      }
    }
  }
}
