@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

@font-face {
  font-family: "Instrument Sans Regular";
  src: local("../fonts/InstrumentSans-Regular.ttf");
}

@font-face {
  font-family: "Instrument Sans";
  src: local("../fonts/InstrumentSans-SemiBold.ttf");
}

@font-face {
  font-family: "Instrument Sans";
  src: local("../fonts/InstrumentSans-Bold.ttf");
}

body {
  font-family: "Instrument Sans", sans-serif;
  font-size: $font-size-body-m;
  line-height: 1.5;
  font-weight: 400;
  color: $color-grey;
}

h1,
h2 {
  @include heading(medium);
}
