@use "../../assets/styles/abstracts/mixins" as mixin;
@use "../../assets/styles/abstracts/variables" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  @include mixin.heading("small");
  @include mixin.rounded("small");
  padding: 1.1rem 2.7rem;
  &:focus {
    outline: 1px solid $color-purple;
  }
  &--primary {
    background-color: $color-purple;
    color: $color-white;

    &:hover {
      background-color: $color-purple-hover;
      box-shadow: 0 0 3.2rem rgb($color-purple, 0.25);
    }
    &:disabled:hover {
      background-color: rgb($color-purple, 0.25);
      box-shadow: none;
    }
    &:active {
      transform: scale(0.95);
      box-shadow: 0 0 1rem rgb($color-purple, 0.25);
      &:focus {
        outline: none;
      }
    }
    &:disabled,
    &--disabled {
      background-color: rgb($color-purple, 0.25);
      cursor: not-allowed;
    }
  }
  &--secondary {
    background-color: $color-white;
    color: $color-purple;
    border: 1px solid $color-purple;
    &:hover {
      background-color: $color-purple-light;
    }
    &:active {
      transform: scale(0.95);
      &:focus {
        outline: none;
      }
    }
    &:disabled,
    &:disabled:hover,
    &--disabled {
      background-color: $color-purple-light;
      cursor: not-allowed;
      opacity: 0.25;
    }
  }
  &__icon {
    svg {
      width: 2rem;
      height: 2rem;
      margin-right: 0.8rem;
      path {
        fill: currentColor;
      }
    }
  }
}
