@use "../../assets/styles/abstracts/variables" as *;

.nav-link {
  &:hover {
    color: $color-purple;
  }

  &--active {
    color: $color-purple;
    background-color: $color-purple-light;
    &:focus {
      outline: none;
    }
  }
}
