@use "../../assets/styles/abstracts/variables" as *;

.container {
  &__header {
    margin: 2.4rem;
  }
  &__content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 2.4rem;
    margin: 2.4rem;

    &-mockup {
      background-color: $color-white;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-top: 10.15rem;
      &_app {
        width: 30.7rem;
        height: 63.1rem;
        background-image: url("../../assets/images/illustration-phone-mockup.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &-main {
      padding: 4rem 4rem 2.4rem;
      background-color: $color-white;
      &_article {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        header {
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
        }
      }
    }
    &-cta {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 4rem;
      padding: 2.4rem 0;
      border-top: 1px solid $color-borders;
    }
  }
}
